<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITransactionManager" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6019/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITransactionManager" contract="Services.TransactionManagerService.ITransactionManager"
                name="WSHttpBinding_ITransactionManager">
                <identity>
                    <servicePrincipalName value="host/LAPTOPNEW" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>